CSS

body {
  color: rgb(165,75,86);
  font-family: helvetica;
  margin: 0px;
}
div {
  min-height: 50vh;
  width: 100vw;
}
h1 {
  font-size:10em;
  text-align: center;
}
h2 {
  font-size: 3em;
  text-align: center;
}
img {
    display: flex;
    padding: 20px;
    margin: 0 auto;
}
p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 1em;
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
  justify-content:space-evenly;
}
ol {
  list-style: none;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}
div.contrast {
  background-color: rgb(255,192,203);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
a {
  color: rgb(255,255,255);
}
div.contest {
  display: flex;
  justify-content: center;
  align-items: center;
}
